In [1]:
import pandas as pd
import numpy as np

In [3]:
dt = pd.read_csv("SPAM.csv", encoding='windows-1252')
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
print("COLUMNS IN THE GIVEN DATA")
for col in dt.columns:
    print(col)

COLUMNS IN THE GIVEN DATA
type
text
spam

In [7]:
t = len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN :", t)
t = len(dt['text'])
print("NO OF ROWS ON LINKED COLUMN :", t)

NO OF ROWS IN REVIEW COLUMN : 116
NO OF ROWS ON LINKED COLUMN : 116

In [8]:
dt['text'][1]

'Ok lar... Joking wif u oni...'

In [9]:
def tokenizer(text):
    return text.split()

In [10]:
dt['text']=dt['text'].apply(tokenizer)
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [13]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords =False)

In [14]:
def stem_it(text):
    return[porter.stem(word)for word in text]

In [15]:
dt['text']=dt['text'].apply(stem_it)
dt['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [16]:
dt['text'][88]

["i'm", 'realli', 'not', 'up', 'to', 'it', 'still', 'tonight', 'babe']

In [17]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
def lemmit_it(text):
    return[lemmatizer.lemmatize(word,pos="a")for word in text]

In [18]:
dt['text']=dt['text'].apply(lemmit_it)
dt['text'][88]

["i'm", 'realli', 'not', 'up', 'to', 'it', 'still', 'tonight', 'babe']

In [19]:
from nltk.corpus import stopwords
Stop_words = stopwords.words("english")

In [20]:
def Stop_it(text):
    review = [word for word in tet if not word in Stop_words]
    return review

In [22]:
dt['text'][88]

["i'm", 'realli', 'not', 'up', 'to', 'it', 'still', 'tonight', 'babe']

In [23]:
dt.head(5)

   type                                               text  spam
0   ham  [go, until, jurong, point,, crazy.., avail, on...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, in, 2, a, wkli, comp, to, win, f...     1
3   ham  [u, dun, say, so, earli, hor..., u, c, alreadi...     0
4   ham  [nah, i, don't, think, he, goe, to, usf,, he, ...     0

In [25]:
dt['text']=dt['text'].apply(''.join)
dt.head()

   type                                               text  spam
0   ham  gountiljurongpoint,crazy..availonliinbugingrea...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentriin2awklicomptowinfacupfinaltkts21stma...     1
3   ham            udunsaysoearlihor...ucalreadithensay...     0
4   ham    nahidon'tthinkhegoetousf,helivearoundherethough     0

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
y = dt.spam.values
X = tfidf.fit_transform(dt['text'])

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,random_state=1,test_size=0.2,shuffle =False)

In [31]:
from sklearn.linear_model import LogisticRegression
clf =LogisticRegression()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_test)*100
print("Accuracy :", acc_log)

Accuracy : 87.5

In [35]:
from sklearn.svm import LinearSVC
Linear_svc=LinearSVC(random_state =0)
Linear_svc.fit(X_train,y_train)
y_pred = Linear_svc.predict(X_test)
acc_linear_svc = accuracy_score(y_pred,y_test)*100
print("Accuracy :", acc_linear_svc)

Accuracy : 87.5